azure-storage-blob
azure-identity
azure-search-documents
Flask==2.2.5
langchain==0.0.240
numpy==1.25.0
pandas==2.0.2
parsedatetime==2.6
Pillow==9.5.0
pydantic==1.10.11
Requests==2.31.0
openai